body{
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

.container{
    background-color: white;
    margin: auto;
    width: 30%;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px 5px lightgray;
}
.a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.start{
    background-color:#703BE7;
    color: white;
}
.buttons-container{
    display: flex;
    padding-top:20px ;
    gap: 10px;
}